body {
    background-color: rgb(51, 133, 201);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);

}

section > div > p {
    font-weight: bold;
}

#b1 {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}